.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    background: #323131;
    word-break: normal;
    width: auto;
}

.buttonDisabled {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    background: #323131;
    word-break: normal;
    width: auto;
    opacity: 0.5;
    cursor: default;
}